body {
    background: url(./Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;

  }
.card {
    color: #6E8A96;
    width: 15rem;
    margin: 19px;
    opacity: 1.0
}

.card-shadow {
    -webkit-box-shadow: 15px 34px 5px 0px rgba(0,0,0,0.67);
-moz-box-shadow: 15px 34px 5px 0px rgba(0,0,0,0.67);
box-shadow: 15px 34px 5px 0px rgba(0,0,0,0.67);
}

.recipes{
    display: flex;
     flex-wrap: wrap;
     opacity: 1.0;
     justify-content: space-evenly;

}

.nav-link-steps {
    color: red;
    padding: 0px
}

.nav-link-steps:hover, .nav-link-steps:active {
    color: rgba(30, 22, 54)
}

button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

button.btn {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.btn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

button.btn-newRecipe {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 0, 0, 0.7) 0 0px 0px 40px inset;
}


button.btn-newRecipe:hover {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(255, 255, 255, 0.6) 0 0px 0px 2px inset;
}

.recipeButton {
    text-align: center
}

.btn-newRecipe {
    display: inline-block;
}

li {
    text-align: left;
}