.navbar-custom {
    background-color: rgba(110, 138, 150, .5);
    border-color: #E7E7E7;

}

a {
    color: white;

}

a:hover, a:active {
    color: white;
 }

 .nav-link {
    color:red;
    padding: 10px, 10px;

}

.userName {
    color: red;
    padding: 10px
}



